.chores {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-decoration: underline;
    color: blue;
    font-size: larger;
}

h3 {
    text-align: center;

}

li {
    font-style: italic;
}